.product-list {
    background-color: var(--aliceblue);
    width: 75vw;
margin: auto auto -15px auto !important;
    z-index: 2;
    /* border-radius: 0 0 5% 5%; */
} 
.allProducts-btn button{
    /* border: 1px solid black; */
    border: 0;
    width: 30vw
}

.product-list-title{
    font-weight: 600;
    font-size: 18px;
}