.card-wrapper {
  /* border: 0.1px solid black; */
  min-width: 20vw;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
  padding: 20px;;
}

.card-wrapper:hover {
      border: 0;
  box-shadow: 6px 7px 18px 3px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 6px 7px 18px 3px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 6px 7px 18px 3px rgba(0, 0, 0, 0.43);

}

.card-category {
    margin-top: 25px;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 3px;

}
.card-price {
    margin-top:7px;
    color:#569ea2;
}


.card-btn {
    position: relative;
    border:none;
    transition: .4s ease-in;
    z-index: 1;
    width: 100%;
    height: 30px;
}
.card-btn::before,
.card-btn::after {
    position: absolute;
    content: "";
    z-index: -1;
}
.card-btn:hover {
    box-shadow: inset -10.5em 0 0 0 #FCC7B7, inset 10.5em 0 0 0 #FCC7B7;
}
.image {
  width: 150px;
  height: auto;
}

.size-dropdown {
    width: 80px;
    margin-left: 10px;;
}