.header-wrapper {
    background-color: #ffffff;
}
.menu-options {
  /* border: 0.1px black solid; */
  align-items: center;
}
.menu-options li {
  border: none;
}

.logo {
  height: 100px;
  width: 100px;
}

.header-top-design{
  height: 20px;
  background-color: #0dcaf0;
}

.list-group-item:hover{
  border-bottom: 1px solid var(--textBlack);
}

.toggle-button{
  background-color: #0dcaf0;
  border:0;
  position: fixed;
  font-size: 12px;
  z-index: 99999;
}