.header-row {
    /* background-color: #FCC7B7; */
}
.menu-options {
  /* border: 0.1px black solid; */
  align-items: center;
}
.menu-options li {
  border: none;
}

.logo {
  height: 100px;
  width: 100px;
}

.header-top-design{
  height: 10px;
  background-color: #0dcaf0;
}

.list-group-item:hover{
  border-bottom: 1px solid black;
}