.greet-wrapper {
margin: -35px auto 0 !important;
  position: relative;
  text-align: center;
  background-color: var(--aliceblue);
  width: 75vw;
  /* height:200px; */
  /* border: 1px solid aliceblue; */
  /* border-bottom: 1px solid ; */
  border-radius: 10% 10% 0 0;
  /* background-image: url(https://i.ibb.co/G5NrTxV/PackOf4.png);
    background-size: cover; */
}


.greet-sec-1 {
    margin-top: 15px;
    width: 90%;
    /* border: 1px solid black; */
}

.greet-sec-11 {
    /* border-right: 0.5px solid black;
    border-bottom: 0.2px solid black;
    border-top: 0.5px solid black; */
    padding: 15px;
text-align: justify;
}

.greet-sec-12 {
    border-left: 0.5px solid var(--textBlack);
    padding: 15px;
    text-align: justify;
    /* border-bottom: 0.2px solid black;
    border-top: 0.5px solid black; */
}

.greet-sec-1-title{
    color: #b16558;
}

#coupon{
    height:200px;
    width:400px;
    background-color:gray;
    z-index:100;
    margin:auto;
    visibility: hidden;
}