$body-bg: #dcffeb;
$theme-colors: (
  "primary": #64A9A5,
  "secondary": #FCC7B7,
  "tertiary": #F0F5F8,
  "info":#0dcaf0,
  "success":#198754,
  "danger": #ff4136
);

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.dark-mode {
  background-color: black;
  color: white;
  --cseegreen1: black;
  --textBlack: #98ffc5;
  --cseegreen5: #333b36;
--aliceblue: rgb(32, 56, 58);
  --cseegreen4: #65746c;

}

:root {
  --cseegreen1: #98ffc5;
  --cseegreen2: #a9ffcf;
  --cseegreen3: #baffd8;
  --cseegreen4: #cbffe2;
  --cseegreen5: #dcffeb;

  --cdustycoral: #b16558;
  --csunshine: #f7b733;
  --cclean: #dfdce3;
  --textBlack: #000000;
  --aliceblue: aliceblue;
}

@import '~bootstrap/scss/bootstrap.scss';