$body-bg: #FFFFFF;
$theme-colors: (
  "primary": #64A9A5,
  "secondary": #FCC7B7,
  "tertiary": #F0F5F8,
  "info":#0dcaf0,
  "success":#198754,
  "danger": #ff4136
);

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --cseegreen1: #98ffc5;
  --cseegreen2: #a9ffcf;
  --cseegreen3: #baffd8;
  --cseegreen4: #cbffe2;
  --cseegreen5: #dcffeb;

  --cdustycoral: #b16558;
  --csunshine: #f7b733;
  --cclean: #dfdce3;
}

@import '~bootstrap/scss/bootstrap.scss';